body {
    height: 800px;
    background-size: cover;
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

body ul {
    display: flex;
}

body ul aside {
    width: 300px;
}

nav {
    background-color: beige;
    display: inline-block;
    /* muestra la lista una seguida de otro horizontal */
    display: block;
}

nav ul div {
    display: flex;
    /* Pone el contenido de la lista de forma horizontal */
    list-style: none;
    margin: 0;
    top: 0px;
    width: 160px;
    padding: 10px;
}

nav ul li {
    color: rgb(255, 255, 204);
    width: 50%;
}

nav ul li a {
    color: rgb(#f6f9f8);
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #428881;
    /* Al pasar el cursos el texto cambia de color */
}

h1 {
    color: blue;
}

ol {
    color: yellow;
}

ul {
    color: darkblue;
}

/*BANNER*/
.banner {
    width: 100%;
    height: 500px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {

    0%,
    10% {
        background-image: url(../imagenes/Moto1.jpg);
    }

    25%,
    45% {
        background-image: url(../imagenes/Moto.2.jpg);
    }

    50%,
    70% {
        background-image: url(../imagenes/Moto.3.jpg);
    }

    75%,
    100% {
        background-image: url(../imagenes/Motos4.jpg);
    }
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.info h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info p {
    color: white;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info a {
    color: white;
    text-decoration: none;
    background: #3088e0;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}

/*Termina Banner*/


/*ACÁ COMIENZA HOME*/

.Home {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    justify-content: space-between;
}

.Home-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}


.Home img {
    border-radius: 100%;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.Home img {
    width: 95%
}

/*ACÁ COMIENZA CATALOGO*/

.Catalogo {
    text-decoration: none;
    position: relative;
    left: 100px;
    text-align: center;
    font: bold 125% monospace;
    

    
}
.Catalogo a{
    text-decoration: none;
    text-align: center;
    display: flex;
}

.Catalogo-content {
    display: none;
    position: absolute;
    width: 50%;
    overflow: auto;
    box-shadow: 0px 0px 10px 10px white(0, 0, 0, 0.4);
    
    
}

.Catalogo:hover .Catalogo-content {
    display: block;
    opacity: 0.9;
    
   
}

.Catalogo-content a {
    text-decoration:none;
    display: block;
    color: white;
    padding: 3px;
    
    
}

.Catalogo-content a:hover {
    color: white;
    background-color: #00A4BD;
    text-decoration:none;
}

/*ACÁ COMIENZA COMMUNITY*/
.Comunidad {
    text-decoration: none;
    position: relative;
    left: 300px;
    text-align: center;
    font: bold 125% monospace;
}
.Comunidad a{
    text-decoration: none;
}
.Comunidad-content {
    display: none;
    position: absolute;
    width: 50%;
    overflow: auto;
    box-shadow: 0px 0px 10px 10px white(0, 0, 0, 0.4);
}

.Comunidad:hover .Comunidad-content {
    display: block;
    opacity: 0.9;
}

.Comunidad-content a {
    display: block;
    color: white;
    padding: 3px;
    text-decoration: none;
}

.Comunidad-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.p {
    font: bold 90% monospace;
  }
 
  

/*CAMBIOS VIDEOS MAICOL*/
/*Parrafo1*/
.Parrafo1 {
    margin-top: 40px;
    padding-left: 50px;
    text-align: left;
}

.Parrafo1 p {
    font-size: 15px;
    max-width: 750px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.Parrafo1 h4 {
    color: #757c7b;
}


.Parrafovideo1 {
    margin-top: 50px;
    display: flex;
    padding: 0px;
    color: #000;
}

.Parrafovideo1 .button:hover {
    color: #000000;
    background: #e47133;
    border: 2px solid #000000;
}

/* Area Parrafo 1 */


article .Parrafo1 h2 * {
    color: #000000;
}

article:hover .Parrafo1 h2 * {
    color: #e47133;
}

article:hover .Parrafovideo1 {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(234, 88, 48, 0.8);
}

article:hover a .Parrafovideo1 {
    color: #e47133;
}

/* Articulo y botton general*/

article {
    background-color: #FFFFFF;
}

article {
    margin-top: 180px;
    margin-left: 100px;
    margin-right: 100px;
}

.button {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: none;
    color: rgb(0, 0, 0);
    padding: 12px 18px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s ease-in;

}

/* Parrafo 2*/
.Parrafo2 {
    margin-top: 40px;
    padding-left: 50px;
    text-align: left;
}

.Parrafo2 p {
    font-size: 15px;
    max-width: 750px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.Parrafo2 h4 {
    color: #757c7b;
}


.Parrafovideo2 {
    margin-top: 50px;
    display: flex;
    padding: 0px;
    color: #000;
}

.Parrafovideo2 .button:hover {
    color: #000000;
    background: forestgreen;
    border: 2px solid #000000;
}

article .Parrafo2 h2 * {
    color: #000000;
}

article:hover .Parrafo2 h2 * {
    color: forestgreen;
}

article:hover .Parrafovideo2 {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(73, 234, 48, 0.8);
}

article:hover a .Parrafovideo2 {
    color: forestgreen;
}


/* Parrafo 3*/
.Parrafo3 {
    padding-left: 25px;
    text-align: left;
    margin-top: 40px;
}

.Parrafo3 h4 {
    color: #757c7b;
}

.Parrafo3 p {
    font-size: 15px;
    max-width: 750px;
    margin-bottom: 60px;
    margin-right: 10px;
}

.Parrafovideo3 {
    margin-top: 50px;
    display: flex;
    padding: 0px;
    color: #000;
}

.Parrafovideo3 .button:hover {
    color: #000000;
    background: darkblue;
    border: 2px solid #000000;
}

article .Parrafo3 h2 * {
    color: #000000;
}

article:hover .Parrafo3 h2 * {
    color: darkblue;
}

article:hover .Parrafovideo3 {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(24, 29, 132, 0.8);
}

article:hover a .Parrafovideo3 {
    color: darkblue;
}


/* Parrafo 4*/

.Parrafo4 {
    margin-top: 40px;
    padding-left: 25px;
    text-align: left;
}

.Parrafo4 h4 {
    color: #757c7b;
}

.Parrafo4 p {
    font-size: 15px;
    max-width: 800px;
    margin-bottom: 60px;
    margin-right: 10px;
}

.Parrafovideo4 {
    margin-top: 50px;
    display: flex;
    padding: 0px;
    color: #000;
    margin-bottom: 150px;
}

.Parrafovideo4 .button:hover {
    color: #000000;
    background: darkcyan;
    border: 2px solid #000000;
}

article .Parrafo4 h2 * {
    color: #000000;
}

article:hover .Parrafo4 h2 * {
    color: darkcyan;
}

article:hover .Parrafovideo4 {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(57, 126, 223, 0.8);
}

article:hover a .Parrafovideo4 {
    color: darkcyan;
}

/*FINALIZA CAMBIOS MAICOL*/

.contenedor {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    overflow: hidden;
}

.slider-contenedor {
    width: 100%;
    display: flex;


}

.responsive-banner {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
}

/*INICIA CAMBIOS DANIELA*/

.textoredes {
    background-color: #3d4947;
    position: flex;
    justify-content: center;

}

.textoredes p {
    color: #a29e9e;
    margin-left: 100px;
    margin-right: 100px;

}

.textoredes {
    margin: 10px 0px;
}

.textoredes h1 {
    padding-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.textoredes ul {
    justify-content: center;
    justify-content: space-around;
}

.redes h3 {
    margin-top: 35px;
    margin-left: 30px;
    color: #FFFFFF
}

.redes .social {
    padding: 20px;
    margin: 0px;
}

.redes .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.redes .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;

}

.redes .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.contactos h3 {
    margin-left: 20px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
}

.contactos {
    padding: 20px;
    margin: 0px;
}

.contactos .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.contactos .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;

}

.contactos .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}