body {
    
    
    height: 800px;
    background-image: url("https://clubdelmotorista.com/wp-content/uploads/2019/10/kawasaki-z-h2-2020-2-1000x640.jpg");
    background-size: cover;
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
        
}

body ul {
    display: flex;
}

body ul aside {
    width: 300px;
}

nav {
    background-color: beige;
    display: inline-block;
    /* muestra la lista una seguida de otro horizontal */
    display: block;
}

nav ul div{
    display: flex;
    /* Pone el contenido de la lista de forma horizontal */
    list-style: none;
    margin: 0;
    top: 0px;
    width: 160px;
    padding: 10px;
}

nav ul li {
    color: rgb(255, 255, 204);
    width: 50%;
}

nav ul li a {
    color: rgb(#f6f9f8);
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #428881;
    /* Al pasar el cursos el texto cambia de color */
}

h1 {
    color: blue;
}

ol {
    color: yellow;
}

ul {
    color: darkblue;
}


/*ACÁ COMIENZA HOME*/

.Home {
    display: inline-block;
    position: relative;
}

.Home-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

/*ACÁ COMIENZA CATALOGO*/

.Catalogo {
    display: inline-block;
    position: relative;
}

.Catalogo-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.Catalogo:hover .Catalogo-content {
    display: block;
}

.Catalogo-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.Catalogo-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}


/*ACÁ COMIENZA COMMUNITY*/

.Community {
    display: inline-block;
    position: relative;
}

.Community-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.Community:hover .Community-content {
    display: block;
}

.Community-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.Community-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/* Configuracón para la tabla */

table {
    width: 50%;
    border: 1px solid #000;
    background-color: #428881;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }