body {
    heigh:665px;
    background-color:#ffffff;
    background-size: 105rem;
} 

body ul {
    display: flex;
}

/*BANNER*/
.encabezado{
    background-color: rgb(58, 60, 60);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}

.logo img {
    width: 80px;
    border-radius: 50%;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.encabezado a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    display: block;

}

.encabezado a:hover {
    background-color: rgb(255, 255, 255);
    color: black;

}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
}

.encabezado nav ul li ul{
    position: absolute;
    background-color: rgb(58, 60, 60);
}
.encabezado nav ul li ul li{
    width: 180px;
}

.encabezado nav ul li ul {
    display: none;

}

.encabezado nav ul li:hover > ul {
    display: block;

}

/*Banner*/

.banner{
    margin-top: 180px;
    width: 100%;
    height: 700px;
    animation: banner 10s infinite linear alternate;
    background-size: 100%  100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes banner{
    0%, 10%{
        background-image: url(../imagenes/Moto1.jpg);
    }
    25%, 45%{
        background-image: url(../imagenes/Moto.2.jpg);
    }
    50%, 70%{
        background-image: url(../imagenes/Moto.3.jpg);
    }
    75%, 100%{
        background-image: url(../imagenes/Motos4.jpg);
    }
}
.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}
.info h1{
    color:white;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.info p{
    color: white;
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 20px;
}
.info a{
    color:white;
    text-decoration: none;
    background: #7f91a3;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}


/*Termina Banner*/
/*Maicol*/

.parrafo1 {
    padding-left: 50px;
    text-align: left;
}

.parrafoimg1 {
    margin-top: 50px;
    display: flex;
    padding: 0px;
    color: #000;
}

.parrafoimg1 .button:hover {
    color: #000000;
    background: #89d6fa;
    border: 2px solid #000000;
}

article {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFFFFF;
}

article .parrafo1 h2 * {
    color: #000000;
}

.parrafo1 p {
    font-size: 12px;
    max-width: 400px;
    margin-bottom: 50px;
}

article:hover .parrafo1 h2 * {
    color: #6afaff;
}

article:hover .parrafoimg {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(206, 102, 32, 0.2);
}

article:hover a .parrafoimg {
    color: #e47133;
}

.button {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: none;
    color: rgb(0, 0, 0);
    padding: 12px 18px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s ease-in;

}
/*Maicol*/
.parrafoyamaha{
    text-align: center;
    margin-top: 100px;
    background-color: #FFFFFF;
    padding: 150px;
}

.parrafoyamaha hr{
    margin-top: 100px;
}

.fondoyamaha {
    display: flex;
    justify-content: center;
    align-items: center;

}
.fondoyamaha img{
    width: 100%;
}

.motos1{
    width: 100%;
}
.motosyamaha{
    margin-top: 100px;
}
.motosyamaha div{
    text-align: center;
}
.motosyamaha ul{
    margin-top: 30px;
    background-color: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}

.motos1 figure{
    position: relative;
    height: 250px;
    width: 350px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.motos1 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.motos1 figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(86, 79, 79, 0.6);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.motos1 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.motos1 figure:hover > .capa h3{
    margin-top: 30px;
    margin-bottom: 10px;
   }
   .motos1 figure:hover > .capa h3{
       color: #FFFFFF;
       font-weight: 400;
       margin-bottom: 30px;
       transition: all 500ms ease-out;
       margin-top: 30px;
   }
   
   .motos1 figure:hover > .capa p{
       color: #FFFFFF;
       font-size: 12px;
       line-height: 1.5;
       width: 100%;
       max-width: 250px;
       margin: auto;
   
    }
    .motos1 figure:hover > img{
       transform: scale(1.05);
    }
/*Daniela*/

.textoredes {
    background-color: #3d4947;
    position: flex;
    justify-content: center;

}
.textoredes p{
    color:#a29e9e;
    margin-left: 100px;
    margin-right: 100px;
    
}
.textoredes {
    margin: 10px 0px;
}

.textoredes h1 {
    padding-top: 20px;
    text-align: center;
    color:#FFFFFF;
}

.textoredes ul{
    justify-content: center;
    justify-content: space-around;
}
.redes h3{
    margin-top: 35px;
    margin-left: 30px;
    color:#FFFFFF
}

.redes .social {
    padding: 20px;
    margin: 0px;
}

.redes .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.redes .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;
    
}
.redes .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.contactos h3{
    margin-left: 20px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
}
    
.contactos {
    padding: 20px;
    margin: 0px;
}

.contactos .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.contactos .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;
    
}

.contactos .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}