body {
    heigh:665px;
    background-color:#ffffff;
    background-size: 105rem;
} 

body ul {
    display: flex;
}

body ul aside {
    width: 300px;
}

nav {
    background-color: rgb(216, 98, 19);
    display: inline-block;
    /* muestra la lista una seguida de otro horizontal */
    /*display: block;*/
}

nav ul div{
    display: flex;
    /* Pone el contenido de la lista de forma horizontal */
    list-style: none;
    margin: 0;
    top: 0px;
    width: 160px;
}

/*ACÁ COMIENZA CATALOGO*/

.Catalogo {
    display: inline-block;
    position: relative;
}

.Catalogo-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.Catalogo:hover .Catalogo-content {
    display: block;
}

.Catalogo-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.Catalogo-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}


/*ACÁ COMIENZA COMMUNITY*/

.Community {
    display: inline-block;
    position: relative;
}

.Community-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.Community:hover .Community-content {
    display: block;
}

.Community-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.Community-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
/*Maicol*/

.parrafo1 {
    padding-left: 50px;
    text-align: left;
}

.parrafoimg1 {
    margin-top: 50px;
    display: flex;
    padding: 0px;
    color: #000;
}

.parrafoimg1 .button:hover {
    color: #000000;
    background: #89d6fa;
    border: 2px solid #000000;
}

article {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFFFFF;
}

article .parrafo1 h2 * {
    color: #000000;
}

.parrafo1 p {
    font-size: 12px;
    max-width: 400px;
    margin-bottom: 50px;
}

article:hover .parrafo1 h2 * {
    color: #6afaff;
}

article:hover .parrafoimg {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(206, 102, 32, 0.2);
}

article:hover a .parrafoimg {
    color: #e47133;
}

.button {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: none;
    color: rgb(0, 0, 0);
    padding: 12px 18px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s ease-in;

}
/*Maicol*/
.parrafoyamaha{
    text-align: center;
    margin-top: 100px;
    background-color: #FFFFFF;
    padding: 150px;
}

.parrafoyamaha hr{
    margin-top: 100px;
}

.fondoyamaha {
    display: flex;
    justify-content: center;
    align-items: center;

}
.fondoyamaha img{
    width: 100%;
}

.motos1{
    width: 100%;
}
.motosyamaha{
    margin-top: 100px;
}
.motosyamaha div{
    text-align: center;
}
.motosyamaha ul{
    margin-top: 30px;
    background-color: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}

.motos1 figure{
    position: relative;
    height: 250px;
    width: 350px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.motos1 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.motos1 figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(86, 79, 79, 0.6);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.motos1 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.motos1 figure:hover > .capa h3{
    margin-top: 30px;
    margin-bottom: 10px;
   }
   .motos1 figure:hover > .capa h3{
       color: #FFFFFF;
       font-weight: 400;
       margin-bottom: 30px;
       transition: all 500ms ease-out;
       margin-top: 30px;
   }
   
   .motos1 figure:hover > .capa p{
       color: #FFFFFF;
       font-size: 12px;
       line-height: 1.5;
       width: 100%;
       max-width: 250px;
       margin: auto;
   
    }
    .motos1 figure:hover > img{
       transform: scale(1.05);
    }
/*Daniela*/

.textoredes {
    background-color: #3d4947;
    position: flex;
    justify-content: center;

}
.textoredes p{
    color:#a29e9e;
    margin-left: 100px;
    margin-right: 100px;
    
}
.textoredes {
    margin: 10px 0px;
}

.textoredes h1 {
    padding-top: 20px;
    text-align: center;
    color:#FFFFFF;
}

.textoredes ul{
    justify-content: center;
    justify-content: space-around;
}
.redes h3{
    margin-top: 35px;
    margin-left: 30px;
    color:#FFFFFF
}

.redes .social {
    padding: 20px;
    margin: 0px;
}

.redes .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.redes .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;
    
}
.redes .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.contactos h3{
    margin-left: 20px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
}
    
.contactos {
    padding: 20px;
    margin: 0px;
}

.contactos .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.contactos .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;
    
}

.contactos .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}