* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}


body {


    height: 800px;
    background-size: cover;
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

body ul {
    display: flex;
}

/*BANNER*/
.encabezado{
    background-color: rgb(58, 60, 60);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}

.logo img {
    width: 80px;
    border-radius: 50%;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.encabezado a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    display: block;

}

.encabezado a:hover {
    background-color: rgb(255, 255, 255);
    color: black;

}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
}

.encabezado nav ul li ul{
    position: absolute;
    background-color: rgb(58, 60, 60);
}
.encabezado nav ul li ul li{
    width: 180px;
}

.encabezado nav ul li ul {
    display: none;

}

.encabezado nav ul li:hover > ul {
    display: block;

}

/*INICIA CAMBIOS DANIELA*/ 

.textoredes {
    background-color: #3d4947;
    position: flex;
    justify-content: center;

}
.textoredes p{
    color:#a29e9e;
    margin-left: 100px;
    margin-right: 100px;
    
}
.textoredes {
    margin: 10px 0px;
}

.textoredes h1 {
    padding-top: 20px;
    text-align: center;
    color:#FFFFFF;
}

.textoredes ul{
    justify-content: center;
    justify-content: space-around;
}
.redes h3{
    margin-top: 35px;
    margin-left: 30px;
    color:#FFFFFF
}

.redes .social {
    padding: 20px;
    margin: 0px;
}

.redes .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.redes .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;
    
}
.redes .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.contactos h3{
    margin-left: 20px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
}
    
.contactos {
    padding: 20px;
    margin: 0px;
}

.contactos .social li {
    display: flex;
    list-style: none;
    background: #303030;
    margin: 10px 0px 0px 0px;
}

.contactos .social li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 15px;
    transition: all 0.4s ease-in;
    
}

.contactos .social li a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

/*FIN AJUSTES DANIELA REDES*/